@font-face {
  font-family: "Luckiest Guy";
  src: url("/assets/font/LuckiestGuy-Regular.ttf");
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url("/assets/background/Layers/water/D.png");
  background-position: center;
  background-size: cover;
  font-family: "Luckiest Guy";
}

.btn-group {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1280px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 100%;
      max-height: 50px;
    }

    div {
      font-size: 1.5rem;
      color: #fff;
      white-space: nowrap;
    }
  }
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .game {
    position: relative;
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
    aspect-ratio: 16 / 9;

    #canvas {
      background-color: #000;
      width: 100%;
      height: 100%;
    }

    .ui {
      position: absolute;
      left: 10px;
      top: 10px;
      display: flex;
      gap: 20px;

      & > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }

      img {
        width: 100%;
        max-width: 50px;
        max-height: 50px;
      }

      span {
        font-size: 1.5rem;
        color: #fff;
      }
    }

    #end-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: none;
    }

    #retry {
      position: absolute;
      background-color: transparent;
      border: none;
      left: 50%;
      width: 40%;
      z-index: 1000;
      top: 50%;
      transform: translate(-50%, 150%);
      cursor: pointer;
      display: none;

      img {
        width: 100%;
      }
    }
  }
}
