@font-face {
  font-family: "Luckiest Guy";
  src: url("/assets/font/LuckiestGuy-Regular.ttf");
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url("/assets/background/Layers/water/D.png");
  background-position: center;
  background-size: cover;
  font-family: "Luckiest Guy";
}

.btn-group {
  width: 100%;
  max-width: 250px;
  position: relative;
  text-align: center;

  #toggle {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    max-width: 150px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  #controls {
    background-color: #531a82;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    bottom: 100%;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    display: none;

    &.active {
      display: block;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      img {
        width: auto;
        max-height: 40px;
      }

      div {
        font-size: 1.25rem;
        color: #fff;
      }
    }
  }
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .game {
    position: relative;
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
    aspect-ratio: 16 / 9;

    #canvas {
      background-color: #000;
      width: 100%;
      height: 100%;
    }

    .ui {
      position: absolute;
      left: 10px;
      top: 10px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 20px);

      .left {
        display: flex;
        gap: 40px;
        width: 100%;

        @media (max-width: 768px) {
          gap: 20px;
        }

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          span {
            font-size: 1.5rem;
            color: #fff;
            display: block;
          }
        }
      }

      .right {
        .sound {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background-size: contain;
          background-image: url("/assets/buttons/sound.svg");

          &.active {
            background-image: url("/assets/buttons/muted.svg");
          }
        }
      }

      img {
        max-width: 50px;
        max-height: 50px;
        object-fit: contain;
        display: block;
        width: 100%;

        @media (max-width: 768px) {
          max-width: 30px;
          max-height: 30px;
        }
      }
    }

    #end-screen,
    #start-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: none;
    }

    #start-screen {
      display: block;
    }

    #start {
      position: absolute;
      background-color: transparent;
      border: none;
      left: 68%;
      width: 40%;
      z-index: 1000;
      top: 80%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      display: block;
      max-width: 400px;

      img {
        width: 100%;
      }
    }

    #retry {
      position: absolute;
      background-color: transparent;
      border: none;
      left: 50%;
      width: 40%;
      z-index: 1000;
      top: 50%;
      transform: translate(-50%, 150%);
      cursor: pointer;
      display: none;

      img {
        width: 100%;
      }
    }
  }
}

#rotate {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (orientation: portrait) {
    display: block;
  }
}

#touch-controls {
  padding: 20px;
  display: flex;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  z-index: 50;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: none;

    img {
      height: 50px;
      width: auto;
    }
  }
}

#boss-bar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  bottom: 20px;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  img {
    width: auto;
    height: 50px;
    transform: translateY(-20%);
  }
  .boss-bar {
    width: 100%;
    background-color: #fff;
    border-radius: 100vw;
    padding: 2px;
    height: 10px;

    #boss-bar {
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-color: #531a82;
      border-radius: 100vw;
      height: 100%;
    }
  }
}

#highscore {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4vw;
  z-index: 500;
  width: 100%;
  text-align: center;
}
